.panel {
  position: fixed;
  width: 100%;
  background: white;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.close {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 40px;
  align-self: flex-end;
  outline: none;
}

@media (min-width: 768px) {
  .panel {
    flex-direction: row;
  }
}

.item  button{
  border: 1px rgb(160, 160, 160) solid;
  color: rgb(177, 177, 177);
  background: none;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  display: block;
  font-size: 16px;
}


.display-form {
  margin-top: 30px;
}