<div class="panel">
  <button (click)="close()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="list-group">
    <li class="item active"><button style="color: black;" #selfExpe id="expense" (click)="handleClick(selfExpe)">create expense</button></li>
    <li class="item"><button #self id="incomeBymonth" (click)="handleClick(self)">income by month</button></li>
  </ul>
  <div *ngIf="formState === 'expense' || formState === 'incomeBymonth'" class="container display-form">
    <app-form-panel [formState]="formState"></app-form-panel>
  </div>
  <div *ngElse>
    tabla de todos los ingresos por mes que se haran automaticamente
  </div>
</div>