.navbar {
  box-shadow: 1px 1px 10px rgb(230, 230, 230);
}

.navbar-brand {
  display: block;
  height: 90px;
  width: 90px;
}

.navbar-brand img {
  max-width: 80%;
}

.item {
  margin-right: 30px;
}

.btn {
  background: none;
  border: 0;
  margin-bottom: 10px;
  margin-left: 30px ;
  padding: 0;
}

.btn img {
  width:40px;
}

.nav-toggle {
  display: block;
}

nav {
  margin: 0;
}

.nav-link {
  color: black;
  font-weight: bold;
}
