.lds-ellipsis {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: black;
  opacity: .8;
  right: 0;
  left: 0;
}

.center-position {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 20%;
  height: 100vh;
}

.center-position div {
  position: absolute;
  top: 35vh;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00f1ca;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.center-position div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.center-position div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.center-position div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
