<div>
  <h2>{{formState === "expense" ? "Expense" : "Income by Month"  }}</h2>
  <hr>
  <form #Form="ngForm" (ngSubmit)="handleSubmit(Form)">
    <div class="form-group">
      <label for="title">Title</label>
      <input #titleElem="ngModel" required [class.is-invalid]="titleElem.invalid && titleElem.touched" [ngModel]
        name="titleElem" type="text" class="form-control" id="title" aria-describedby="title input"
        placeholder="Enter your title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea #descriptionElem="ngModel" class="form-control"
        [class.is-invalid]="descriptionElem.invalid && descriptionElem.touched" [ngModel] name="descriptionElem"
        name="description" id="description" placeholder="description" required>
      </textarea>
    </div>
    <div class="form-group">
      <label for="topic">{{formState === "expense" ? "Type expense" : "Type Income" }}</label>
      <select *ngIf='formState ==="expense"' aria-placeholder="select type expense" required #topic="ngModel" class="custom-select" [class.is-invalid]="topic.invalid && topic.touched" name="topic" [ngModel] id="topic">
        <option value="default">{{typeItem[3]}}</option>
        <option>{{typeItem[2]}}</option>
        <option>{{typeItem[5]}}</option>
      </select>
      <select *ngIf='formState !=="expense"' aria-placeholder="select type expense" required #topic="ngModel" class="custom-select" [class.is-invalid]="topic.invalid && topic.touched" name="topic" [ngModel] id="topic">
        <option value="default">{{typeItem[1]}}</option>
        <option>{{typeItem[4]}}</option>
        <option>{{typeItem[5]}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="expense">USD</label>
      <input #expenseElem="ngModel" required [class.is-invalid]="expenseElem.invalid && expenseElem.touched" [ngModel]
        name="expenseElem" type="number" class="form-control" id="expense" aria-describedby="expense input"
        placeholder="Enter your expenseElem">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input #dateinput="ngModel" required [class.is-invalid]="dateinput.invalid && dateinput.touched" [ngModel]
      name="dateinput" type="date" class="form-control">
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
<app-modal  [message]="message"  [displayModal]="displayModal" (closeModalEventEmit)="closeModal($event)"></app-modal>
<app-alert [item]="item"  [displayAlert]="displayAlert" (closeAlertEventEmit)="closeAlert($event)" ></app-alert>
<app-loader [load]="load"></app-loader>
