<div class="container p-5">
  <form #Form="ngForm" (ngSubmit)="handleSubmit(Form)">
    <div class="form-group">
      <label for="user">user</label>
      <input #userInput="ngModel" required [class.is-invalid]="userInput.invalid && userInput.touched" [ngModel]
        name="userInput" type="text" class="form-control" id="user" aria-describedby="userHelp"
        placeholder="Enter user">
      <small id="emailHelp" class="form-text text-muted">We'll never share your user with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input  #passwordInput="ngModel" required [class.is-invalid]="passwordInput.invalid && passwordInput.touched"
        [ngModel] name="passwordInput" type="password" class="form-control" id="password" aria-describedby="userHelp"
        placeholder="Enter user">
    </div>
    <button [class.btn-invalid]="userInput.valid && passwordInput.valid" type="submit" class="btn">Submit</button>
  </form>
  <app-modal  [message]="message"  [displayModal]="displayModal" (closeModalEventEmit)="closeModal($event)"></app-modal>
</div>

<app-loader [load]="load"></app-loader>

