
.lds-dual-ring {
  display: block;
  position: absolute;
  width: 20%;
  right: 0;
  left: 0;
  height: 30px;
  margin: 0 auto;
  top: 30px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00f1ca;
  border-color: #00f1ca transparent #00f1ca transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
